* {
	font-family: arial, helvetica, sans-serif;
	font-size: small;
}

.table{
    background: none;
}
table tr.odd {
    background-color: #DDFFFF;
}
 
table tr.even {
    background-color: #FBFBFB;
}

.tableheader{
    background-color: lightskyblue;
    background: none;
}
a {
	color: blue;
	text-decoration: none;
}
th {
	text-align: left;
	padding-right: 5pt;
	color: #e20018;
}
td {
	vertical-align: top;
	padding-right: 5pt;
}

.searchType {
	font-size: large;
	font-weight: bold;
	color: black;
        text-decoration: underline;
}
.heading {
	font-size: x-large;
	font-weight: bold;
	color: darkblue;
        text-align: center;
        padding-bottom: 1cm;
       
}
.searchFields {
	color: black; 
        font-weight: bold;
}
.error {
	color: red; 
        font-weight: bold;
}

